/* 

https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor

shamrock green #009E60 rgb(0, 158, 96)

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #0b2b1a;
	--sl-color-accent: #007e4c;
	--sl-color-accent-high: #afd3bc;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaf0e8;
	--sl-color-gray-2: #bdc4bb;
	--sl-color-gray-3: #82907f;
	--sl-color-gray-4: #4f5c4d;
	--sl-color-gray-5: #303c2d;
	--sl-color-gray-6: #1f2a1c;
	--sl-color-black: #151a13;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c4dfcd;
	--sl-color-accent: #007b4a;
	--sl-color-accent-high: #033d23;
	--sl-color-white: #151a13;
	--sl-color-gray-1: #1f2a1c;
	--sl-color-gray-2: #303c2d;
	--sl-color-gray-3: #4f5c4d;
	--sl-color-gray-4: #82907f;
	--sl-color-gray-5: #bdc4bb;
	--sl-color-gray-6: #eaf0e8;
	--sl-color-gray-7: #f4f7f3;
	--sl-color-black: #ffffff;
}

/*

force the splash screens to be full width without any padding to allow for full width background images/colors

content blocks in splash pages should use 'splash sections' like <BoxSection> or the wrapper <SplashContent>
*/
html:not([data-has-sidebar]) {
  --original-sl-content-width: var(--sl-content-width);
  --sl-content-width: 100% !important;
}
html:not([data-has-sidebar]) .content-panel {
  padding: 0;
}
/* -- */





.splash-content {
  padding: 1rem;
  margin-inline: auto;
  max-width: 80rem;
  width: calc(var(--original-sl-content-width) +(100% - var(--original-sl-content-width) - var(--sl-sidebar-width)) / 2);
  text-align: center;
}




.box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
}


[data-theme='light'] .box-section {
  background: #9eba96;
}
[data-theme='dark'] .box-section {
  background: #272f25;
}

.box-section-row {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .box-section-row {
  flex-direction: row;
  gap: 5rem;
  }
}

.box-section-box {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin:0!important;

  text-align: center;
}

.box-section-outro {
  padding-top: 2rem;
}
.box-section-intro {
  padding-bottom: 2rem;
}

.box-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0!important;

}
.box-subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0!important;
}
