---
import Icon from '../icons/Icon.astro'

const { heading, content, linkURL } = Astro.props;

interface Props {
  heading?: string;
  content?: string;
  linkTitle?: string;
  linkURL?: string;
}
---
<a
  class="group mt-2 flex items-center gap-x-2 text-sm font-medium text-zinc-600 outline-none ring-zinc-500 transition duration-300 hover:text-zinc-800 focus-visible:ring dark:text-zinc-400 dark:ring-zinc-200 dark:hover:text-zinc-200 dark:focus:outline-none dark:focus:ring-1"
  href={linkURL}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="flex gap-x-7 py-6">
    <slot />
    <div class="grow">
      <h3 class="font-bold text-neutral-700 dark:text-neutral-300">
        {heading}
      </h3>
      <div class="flex flex-row items-center gap-x-2 py-2">
        <div>{content}</div>
        <Icon class="h-4 w-4 flex-shrink-0 transition ease-in-out group-hover:translate-x-1" name="tabler:arrow-right" />
      </div>
    </div>
  </div>
</a>
