---
import Card from "./Card.astro";
import Icon from "./Icon.astro";

const { heading, content, icon, linkURL } = Astro.props;

interface Props {
  heading: string;
  content: string;
  icon: string;
  linkURL: string;
}
---

<a
  class="group mt-2 flex items-center gap-x-2 text-sm font-medium text-zinc-600 outline-none ring-zinc-500 transition duration-300 hover:text-zinc-800 focus-visible:ring dark:text-zinc-400 dark:ring-zinc-200 dark:hover:text-zinc-200 dark:focus:outline-none dark:focus:ring-1"
  href={linkURL}
  target="_blank"
  rel="noopener noreferrer"
  style="text-decoration: none;"
>
  <Card title={heading} icon={icon}>
    <div class="sl-flex">{content} <Icon name="tabler:arrow-right" /></div>
  </Card>
</a>

<br/>